.red {
	color: red;
}
.orange {
	color: orange;
}
.yellow {
	color: yellow;
}
.green {
	color: green;
}
.lightblue {
	color: lightblue;
}
.blue {
	color: blue;
}
.violet {
	color: violet;
}
img {
	size: small;
}